Total Results: <%= facade.station_count %>

<h2>Closest Stations</h2>
<% facade.closest_stations.each do |station| %>
  <div class="station">
    <ul>
      <li>Name: <%= station.name %></li>
      <li>Address: <%= station.address %></li>
      <li>Fuel Type: <%= station.fuel_type %></li>
      <li>Distance from Zipcode: <%= station.distance %></li>
      <li>Acces Times: <%= station.access_times %></li>
    </ul>
  </div>
<% end %>
