Total Results: <%= facade.station_count %>

<h2>Closest Stations</h2>
<% facade.closest_stations.each do |station| %>
  <div class="station">
    <%= station.name %>
    <%= station.address %>
    <%= station.fuel_type %>
    <%= station.distance %>
    <%= station.access_times %>
  </div>
<% end %>
